@mixin borderradius($radio, $color, $fondo) {
    -webkit-border-radius: $radio; 
     -moz-border-radius: $radio; 
     -ms-border-radius: $radio; 
     border-radius: $radio; 
     width:300px / 900px * 100%;
     min-height:400px;
     /*width:1 / 3 * 100%;*/
     float:left;
     box-sizing: border-box;
     border:1px solid $color;
     &:hover{
        background-color: $fondo;
    }
}

%texto{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:underline blue; /*text-decoration puede recibir color*/
    font-size: 1.5 rem;
}

.capaborderradius1{
    @include borderradius(3px, red, green);
    &__texto1{
        @extend %texto;
    }
    
}
.capaborderradius2{
    @include borderradius(6px, blue, yellow);
    &__texto1{
        @extend %texto;
    }
}
.capaborderradius3{
    @include borderradius(9px, green, purple);
    &__texto1{
        @extend %texto;
    }
}