@import 'HojaEstiloImportar.scss';

$fuente1: Helvetica, sans-serif;
$colorprincipal: rgb(187, 57, 57);

/*En este ejemplo vamos a aprender una propiedad nueva: font*/
body{
    font: 1em $fuente1;/*En una sola línea puedo establecer la familia y el tamaño*/
    color: $colorprincipal;

}

.contenedor{
    margin-top:50px;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    border:2px solid blue;
    box-sizing: border-box;
    display:flow-root;/*A pesar de no darle una altura al contenedor, permite que éste se adecue a los elementos (flotantes) que contiene*/
}

article[role="main"]{
    float:left;
    width: 600px / 960px * 100%;
    min-height:400px;
    background-color: olive;
}

aside[role="complementary"]{
    float:right;
    width:360px / 960px * 100%;
    min-height:400px;
    background-color: red;
}

/*Prueba de operadores*/
h3{
    font-size:5px * 2;
}
h4{
    font-size:2px + 2px;
}
h5{
    font-size:2px + 2;
}
h6{
    /*font-size:2px + 2em; Unidades incompatibles*/
}